*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F1DEC9;
}

.cabecalho{
    border: 7px solid;
    border-style: outset;
    border-color: #8D7B68;
    background-color: #A4907C;
}

.cabecalho_menu{
    text-align: center;
    padding: 10px;
}

.cabecalho_menu_links{
    color: black;
    padding: 0px 200px 0px 200px;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

h1{
    font-size: 40pt;
    text-align: center;
    color: #342a1e;
    padding: 5px;
}

p{
    font-size: 30pt;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#img_livro{
    margin: 2% 1% 2% 5%;
    width: 130px;
}

.caixadelivro1{
    padding: 0px 60px 0px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #C8B6A6;
    width: 500px;
    gap: 15px;
}

.areadelivros{
    display: flex;
    margin: 2% 10% 2% 10%;
}

.nome{
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

g{
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    background-color: #C8B6A6;
    margin: 2% 0% 2% 20%;
}

button{
    font-size: 14pt;
    padding: 5px;
    background-color: #A4907C;
    border: 3px solid #8D7B68;
    margin: 2% 0% 2% 30%;
}

button:hover{
    background-color: #8D7B68;
    border: 3px solid #342a1e;
}

@media(max-width:1445px){
    .cabecalho{
        border: 4px solid;
        border-style: outset;
        border-color: #342a1e;
    }
    .cabecalho__menu{
        padding: 5px;
    }
    .cabecalho_menu_links{
        font-size: 15pt;
        padding: 0px 100px 0px 100px;
    }
    .areadelivros{
        flex-direction: column;
    }
    h1{
        font-size: 35pt;
    }
    p{
        font-size: 20pt;
        gap: 5px;
    }
    #img_livro{
        width: 90px;
    }
}

@media(max-width:800px){
    .cabecalho_menu_links{
        padding: 0px 50px 0px 50px;
    }
    .caixadelivro1{
        width: 400px;
    }
}
@media(max-width:550px){
    .cabecalho_menu_links{
        padding: 0px 30px 0px 30px;
    }
    .caixadelivro1{
        width: 270px;
    }
}